<form action="@Url.Action("Login", "Food")" method="post">
    <label for="inputPassword">Kérem, adja meg a jelszót:</label>
    <input type="password" id="inputPassword" name="password" />
    <button type="submit">Küldés</button>
</form>