<!-- Food/FoodList.cshtml -->
@model IEnumerable<Food>

<h1>Food List</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Action</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var foodItem in Model)
        {
            <tr>
                <td>@foodItem.Name</td>
                <td>@foodItem.Description</td>
                <td>
                    <input type="number" name="quantity_@foodItem.Id" min="1" value="1" onchange="updateQuantity(this)" />
                </td>
                <td>
                    <form asp-controller="Cart" asp-action="AddToCart" method="post">
                        <input type="hidden" name="foodId" value="@foodItem.Id" />
                        <input type="hidden" name="quantity" id="quantity_@foodItem.Id" value="1" />
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </td>
                
            </tr>
        }
    </tbody>
</table>
<script>
    // JavaScript függvény az egyedi darabszám beállításához
    function updateQuantity(input) {
        var foodId = input.name.split('_')[1]; // Az étel azonosítójának meghatározása
        var quantityInput = document.getElementById('quantity_' + foodId);
        quantityInput.value = input.value;
    }
</script>
